<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-iYQeCzEYFbKjA/T2uDLTpkwGzCiq6soy8tYaI1GyVh/UjpbCx/TYkiZhlZB6+fzT" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css2?family=Merriweather&family=Montserrat&family=Sacramento&display=swap" rel="stylesheet">
    <style media="screen">
    h1{
      text-align: center;
      font-size: 50px;
      color: #035397;
      padding: 20px;
      font-family: "Merriweather", sans-serif;
    }
    body{
      text-align: center;
      align-items: center;
    }
    a{
      text-decoration: none;
      text-align: center;
    }
    a:hover{
      color: blue;
    }
    </style>

  </head>
  <body>
    <h1>Welcome to the  website!</h1>
    <p>This is a demo working model of Faculty Management System developed using Django and able to implement basic CRUD operations.</p>
    <h2><a href="{% url 'basic_app:list' %}">Go to Website</a></h2>

  </body>
</html>
