#search2{
    position: absolute;
    right:5px;
    top:10px;
}

#search1{
    position: absolute;
    right:80px;
    width:15%;
    top: 10px;
}

#navparent{
    position: relative;
}

.faculty-list{
  margin: 20px;
}

.faculty-name{
  padding: 0px;
  margin:0px;
  background-color: #D6E4E5;
  margin: 0px;
  padding: 7px;
  margin:5px;
  border-radius: 5px;
}

a{
  text-decoration: none;
}
